@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CampLouAnna</h1>
    <p>CampLouAnna is not a real camp.  This site was constructed as a Code Louisville C# project.</p>
</div>
