@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Privacy Policy:  Our privacy and security are our highest priority.  CampLouAnna collects only the personal information necessary to provide enhanced services to campers and thier guardians.  </p>
<p>Information Sharing: CampLouAnna will not release personal information to third parties without notification.</p>
<p>Child Online Privacy Protection Act (COPPA): Except as otherwise permitted by law, CampLouAnna does not knowingly collect and use or disclose the personally identifiable information of a child under the age of 13.</p>
<p>Internet Cookies: Cookies are short and simple text files stored on your computer by Internet web sites to help identify users and enhance customer service. Cookies do not compromise your privacy or security. Using web browser settings, you can refuse cookies or delete cookie files from your computer.</p>
<p>Email Correspondence: If you send an E-mail message or complete an unsecured web form, which contains personal information, we may collect and store personal information.</p>
<p>Electronic Payment:  All payments are made in person with check or credit card.</p>
<p>Trademarks: Any trademarks that appear on this site are the property of their respective owners who may or may not be affiliated with, connected to, or sponsored by CampLouAnna. </p>
<p>For copyright inquiries please contact:<br>
CampLouAnna<br>
Email: camplouanna@gmail.com </p>

